<div class="mt-4" style="margin-left: 40%; margin-right: 40%;">
    <form method="POST" action="/login/validateUser">
        {{!-- email --}}
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>

        {{!-- Mật khẩu --}}
        <div class="form-group">
            <label for="hashPassword">Mật khẩu</label>
            <input type="password" class="form-control" id="hashPassword" name="hashPassword" required>
        </div>

        <button type="submit" class="btn btn-primary">Đăng nhập</button>
    </form>
</div>