<div class="mt-4" style="margin-left: 20%; margin-right: 20%;">
    <form method="POST" action="/product/store" enctype="multipart/form-data">

        <div class="form-group">
            <label for="image">Hình ảnh</label>
            <input type="file" class='form-control' accept="image/jpeg,image/png" multiple="" id="image-1" name="image">
        </div>

        <button type="submit" class="btn btn-primary">Thêm khóa học</button>
    </form>
</div>